<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="./error.component.css" />

<img src="../../../assets/imagenes/error.ico" alt="">
<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h3>error! Página no encontrada</h3>
      <h1><span>4</span><span>0</span><span>4</span></h1>
    </div>
    <h2>lo sentimos, no pudimos encontrar la página que estás buscando</h2>
  </div>
</div>