<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="./error.component.css" />

<div class="texto">
  <h1>404</h1>
  <h2>🥺​ Ups! 🥺​</h2> <br>
  <p>Lo sentimos, no pudimos encontrar lo que sea que estabas buscando. <br> 
    Podés volver al Inicio o quedarte viendo este mensaje de error.</p>
  <div class="botones">
    <button routerLink='/bienvenida'>Volver a Inicio</button>
  </div>
</div>