<header class="header">
  @if (!isLoggedIn) {
    <a href="/bienvenida" class="logo">Sala de Juegos</a>
  } @else {
    <a href="/home" class="logo">Sala de Juegos</a>
  }

  <nav class="navbar">
    @if (!yaHayDatos) {
      <a routerLink="/autenticacion/login">Iniciar Sesión</a>
      <a routerLink="/autenticacion/registro">Crear cuenta</a>
    } @else {
      <!-- <a>Logeado: {{isLoggedIn}}</a> -->
      <a> {{this.usuarioActual?.nombreUsuario}} - {{this.usuarioActual?.sexo}}</a>
      <a (click)="cerrarSesion()" routerLink="/bienvenida">Cerrar Sesión</a>
    }
    <a routerLink="/quien-soy">Sobre mí</a>
  </nav>
</header>