<header class="header">
  @if (!isLoggedIn) {
    <a href="/bienvenida" class="logo">🎮 Playroom MG</a>
  } @else {
    <a href="/home" class="logo">🎮 Playroom MG</a>
  }

  <nav class="navbar">
    @if (!yaHayDatos) {
      <a routerLink="/autenticacion/login">Iniciar Sesión</a>
      <a routerLink="/autenticacion/registro">Crear cuenta</a>
    } @else {
      <!-- <a>Logeado: {{isLoggedIn}}</a> -->
      <a>🧑 {{this.usuarioActual?.nombreUsuario}}</a>
      <a (click)="cerrarSesion()" routerLink="/bienvenida">Cerrar Sesión</a>
    }
    <a routerLink="/quien-soy">Sobre mí</a>
  </nav>
</header>