<div class="wrapper">
    <h1 style="user-select: none;">Crear Cuenta</h1>
    <div class="input-box">
      <input type="email" [(ngModel)]="correo" placeholder="Correo" ngModel email required>
      <i class='bx bxs-envelope'></i>
    </div>
    <div class="input-box">
      <input type="password" [(ngModel)]="clave" placeholder="Contraseña" required>
      <i class='bx bxs-lock-alt'></i>
    </div>
    <div class="input-box">
      <input type="text" [(ngModel)]="nombreUsuario" placeholder="Nombre de Usuario" required>
      <i class='bx bxs-user' style='color:#fff' ></i>
    </div>

    <button (click)="registrar()" class="btn">Registrar</button>
    <p class="mensaje" [ngClass]="{'error': error}" id="mensaje"> {{mensaje}} </p>

    <div class="register-link">
      <p>¿Ya estás registrado? <a routerLink="/login">Iniciá sesión</a></p>
    </div>
</div>