<br><br><br><br>
<div class="wrapper">
    <h1 style="user-select: none;">Iniciar Sesión</h1>
    <div class="input-box">
      <input type="email" [(ngModel)]="usuarioCreado.correo" placeholder="Correo" ngModel email required>
      <i class='bx bxs-envelope'></i>
    </div>

    <div class="input-box">
      <input type="password" [(ngModel)]="usuarioCreado.clave" placeholder="Contraseña" required>
      <i class='bx bxs-lock-alt'></i>
    </div>

    <button (click)="ingresar()" class="btn">Ingresar</button>
    <p class="mensaje" [ngClass]="{'error': error}" id="mensaje"> {{mensaje}} </p>

    <div class="register-link">
      <p>¿No tenes una cuenta? <a routerLink="/autenticacion/registro">Registrate</a></p>
    </div>
</div>

<br>
<div class="accesos">
  <div>
    <h3>Accesos Rápidos</h3>
  </div>
  <div class="imagenes">
    <button (click)="autocompletarDatos('junmigue7@gmail.com', '111111')" class="acceso-btn"><img src="../../../assets/images/user-blanco.png"></button>
    <button (click)="autocompletarDatos('pepe@gmail.com', '111111')" class="acceso-btn"><img src="../../../assets/images/user-blanco.png"></button>
    <button (click)="autocompletarDatos('RomiGimenez15@gmail.com', '111111')" class="acceso-btn"><img src="../../../assets/images/user-blanco.png"></button>
  </div>
</div>