<div id="nav-bar">
  <button class="btn btn-light m-1" routerLink="/login">Iniciar Sesión</button>
  <button class="btn btn-light m-1" routerLink="/registro">Registrarse</button>
  <button class="btn btn-light m-1" routerLink="/quien-soy">Sobre mí</button>
  <button class="btn btn-light m-1" routerLink="/error">Error</button>
</div>


<!-- 
<p>Aca, de momento no va a haber nada. Pero vamos a tener que ponerle los botones de Iniciar sesión o Registrarse, y algun mensaje de bienvenida, lo que sea. Y esto, al estar en este archivo, se va a mostrar todo el tiempo. Pero claramente no queremos eso. Por lo tanto vamos a tener que usar un NgIf para que no se muestre todo el tiempo, sino que se oculte cuando yo hago clic en Iniciar Sesión o Registrarse.</p> -->

<hr> <hr>

<router-outlet />

<hr> <hr>


<p> Pie de página </p>