<br>
<br>
<br>

<div class="contenedor">
  <button routerLink='/home' id="atras">
    Volver
  </button>

  <div class="contenedor-juego">
    <div class="contenedor-arriba">
      <div class="contenedor-palabra">
        <p id="palabra"></p>
        <button id="botonJugar" (click)="iniciarJuego()">JUGAR</button>
        <p id="resultado"></p>
      </div>
      <div class="contenedor-imagen">
        <img id="imagen" src="../../../../assets/images/juegos/ahorcado/estados/estado0.png">
      </div>
    </div>
  
    <div class="contenedor-letras">
      <button class="letra">A</button>
      <button class="letra">B</button>
      <button class="letra">C</button>
      <button class="letra">D</button>
      <button class="letra">E</button>
      <button class="letra">F</button>
      <button class="letra">G</button>
      <button class="letra">H</button>
      <button class="letra">I</button>
      <button class="letra">J</button>
      <button class="letra">K</button>
      <button class="letra">L</button>
      <button class="letra">M</button> 
      <button class="letra">N</button> <br> 
      <button class="letra">Ñ</button>
      <button class="letra">O</button>
      <button class="letra">P</button>
      <button class="letra">Q</button>
      <button class="letra">R</button>
      <button class="letra">S</button>
      <button class="letra">T</button>
      <button class="letra">U</button>
      <button class="letra">V</button>
      <button class="letra">W</button>
      <button class="letra">X</button>
      <button class="letra">Y</button>
      <button class="letra">Z</button>
    </div>
  </div>  
</div>