<br>
<br>
<br>
<br>

<div class="contenedor">
  <h1>Sobre mí</h1>
  <br>
  <div class="contenedor-dentro">
    <img src="../../../assets/images/yo.jpg">

    <div class="contenedor-datos">
      <p><span>Nombre: </span>{{nombre}}</p>
      <p><span>Usuario de Github:</span> {{nombreUsuario}}</p>
      <p><span>Ubicación: </span>{{ubicacion}}</p>
      <p><span>Biografía: </span>{{biografia}}</p>
      <p><span>Usuario de Twitter: </span>{{usuarioTwitter}}</p>
      <p><span>Cantidad de Repositorios públicos: </span>{{cantidadRepositorios}}</p>
      <p><span>Fecha de creación en Github: </span>{{fechaCreacion}}</p>
    </div>
  </div>

</div>

<div class="contenedor-miJuego">
  <h2>Mi juego: Palabras Desordenadas</h2>
  <p>
    Cada pantalla es un nivel con 3 palabras desordenadas por descifrar, las cuales se le muestran al jugador con sus
    entradas de texto correspondientes. Una vez que el jugador escribe correctamente las 3 palabras, se le habilita continuar
    al siguiente nivel. Son 5 niveles en total y si los supera, gana el juego. Cada nivel va aumentando la dificultad
    y tiene un minuto máximo de juego. Si no llega a terminar un nivel a tiempo, se acaba la partida y vuelve al nivel 1.
  </p>
</div>