<h1>Sobre Mí</h1>
<div class="background">
    <div class="centering">
        <div class="articles">
            <article>
                <figure>
                    <img
                        src="../../../assets/images/yo.jpg"
                        alt="Preview"
                    >
                </figure>
                <div class="article-preview">
                    <h2>Gil Miguel Ángel</h2>
                    <p>
                        Soy de Argentina, tengo 22 años y me dedico a la programación. Estudio en la UTN FRA.
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>